[Unit]
Description=Auto dark/light mode switch based on sunrise/sunset

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 @@DARKMODE_DIR@@/darkmode-switch.py
